<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="pageContent" runat="server">
  <h1><umbraco:item field="pageName" runat="server" /></h1>
  <umbraco:item field="bodyText" runat="server" />
</asp:Content>