<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbBlog ANY>
<!ATTLIST umbBlog id ID #REQUIRED>
<!ELEMENT umbBlogPost ANY>
<!ATTLIST umbBlogPost id ID #REQUIRED>
<!ELEMENT DateFolder ANY>
<!ATTLIST DateFolder id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT LocationArea ANY>
<!ATTLIST LocationArea id ID #REQUIRED>
<!ELEMENT Locations ANY>
<!ATTLIST Locations id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT umbNewsArea ANY>
<!ATTLIST umbNewsArea id ID #REQUIRED>
<!ELEMENT umbNewsArticle ANY>
<!ATTLIST umbNewsArticle id ID #REQUIRED>
<!ELEMENT Pet ANY>
<!ATTLIST Pet id ID #REQUIRED>
<!ELEMENT PetPhoto ANY>
<!ATTLIST PetPhoto id ID #REQUIRED>
<!ELEMENT Search ANY>
<!ATTLIST Search id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1099" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1088" template="1078" sortOrder="0" createDate="2011-08-19T09:46:14" updateDate="2013-02-23T15:55:51" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1099" isDoc="">
    <estateAgentName>Adopt Me - Pet Adoption Search Indonesia</estateAgentName>
    <telephoneNumber>087880160920</telephoneNumber>
    <pageTitle>My Estate Agent - An Umbraco Website built for .NET Magazine</pageTitle>
    <metaDescription><![CDATA[This is an example HTML5 & CSS3 website built for a tutorial in the .NET Magazine]]></metaDescription>
    <metaKeywords><![CDATA[Umbraco, Estate Agent, HTML5, CSS3]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <Textpage id="1100" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1092" template="1084" sortOrder="0" createDate="2011-08-22T10:53:21" updateDate="2013-02-04T17:28:44" nodeName="About" urlName="about" writerName="admin" creatorName="admin" path="-1,1099,1100" isDoc="">
      <bodyText><![CDATA[
<p>This estate agent demo site was built for a tutorial for .NET
Magazine by the wonderful guys at the Umbraco HQ to help you learn
about the ASP.NET Open Source CMS Umbraco.</p>

<h2>What is Umbraco?</h2>

<p>Umbraco is a free Open Source ASP.NET CMS that allows you to
have 100% total control over your markup.</p>

<p>If you look at the markup for this site you will see it uses
HTML5 &amp; CSS3 to create a responsive website. Umbraco doesn't
force you to use any specific markup. If you wanted to go all retro
and create a &lt;table&gt; based design with tons of spacer.gifs to
remind you of the good ole days of web design then you can, but
obviously we don't recommend it ;)</p>

<p>There is nothing worse than a CMS deciding what markup you
should use. That's why we give you 100% control over templating and
output, with no limitations to your design.</p>

<h2>Who is using Umbraco?</h2>

<p>Umbraco runs over 110 thousand active umbraco installations.
This number is not development or trial websites and powers sites
from large corporatiosn to small companies.</p>

<p>Some of the companies currently using Umbraco:</p>

<ul>
<li><a href="http://www.wired.co.uk"
target="_blank">Wired.co.uk</a></li>

<li><a href="http://GQ.co.uk" target="_blank">GQ.co.uk</a></li>

<li><a href="http://www.heinz.com"
target="_blank">Heinz.com</a></li>

<li><a href="http://sandisk.com"
target="_blank">Sandisk.com</a></li>

<li><a href="http://www.takethat.com"
target="_blank">TakeThat.com</a></li>
</ul>

<h2>How do I find out more?</h2>

<p>You can find out more about Umbraco by visting the Umbraco
website and its community website where you can find and install
addons to Umbraco, ask questions on the forum, meetup up with other
Umbraco users &amp; read through documentation on the wiki at
http://our.umbraco.org</p>
]]></bodyText>
      <pageTitle />
      <metaDescription><![CDATA[]]></metaDescription>
      <metaKeywords><![CDATA[]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
    </Textpage>
    <Locations id="1101" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1090" template="1080" sortOrder="1" createDate="2011-08-19T09:58:19" updateDate="2013-02-04T17:28:44" nodeName="Locations" urlName="locations" writerName="admin" creatorName="admin" path="-1,1099,1101" isDoc="">
      <pageTitle />
      <metaDescription><![CDATA[]]></metaDescription>
      <metaKeywords><![CDATA[]]></metaKeywords>
      <umbracoNaviHide>0</umbracoNaviHide>
      <LocationArea id="1129" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1089" template="1079" sortOrder="3" createDate="2013-02-23T14:42:46" updateDate="2013-02-23T14:43:06" nodeName="Bali" urlName="bali" writerName="admin" creatorName="admin" path="-1,1099,1101,1129" isDoc="">
        <pageTitle>Bali</pageTitle>
        <metaDescription><![CDATA[All pets in Bali]]></metaDescription>
        <metaKeywords><![CDATA[Bali, pets, adoption]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <Pet id="1131" parentID="1129" level="4" writerID="0" creatorID="0" nodeType="1086" template="1077" sortOrder="0" createDate="2013-02-23T19:23:54" updateDate="2013-02-23T20:15:17" nodeName="Cesare" urlName="cesare" writerName="admin" creatorName="admin" path="-1,1099,1101,1129,1131" isDoc="">
          <PetPhoto id="1135" parentID="1131" level="5" writerID="0" creatorID="0" nodeType="1087" template="0" sortOrder="0" createDate="2013-02-23T20:03:55" updateDate="2013-02-23T20:04:16" nodeName="Cesare1" urlName="cesare1" writerName="admin" creatorName="admin" path="-1,1099,1101,1129,1131,1135" isDoc="">
            <image>/media/605/cat1.jpg</image>
            <imageCaption>Cesare</imageCaption>
            <pageTitle />
            <metaDescription><![CDATA[]]></metaDescription>
            <metaKeywords><![CDATA[]]></metaKeywords>
            <umbracoNaviHide>0</umbracoNaviHide>
          </PetPhoto>
          <address><![CDATA[-6.211544,106.84517200000005,13]]></address>
          <aboutPet><![CDATA[<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>]]></aboutPet>
          <animal><![CDATA[Cat]]></animal>
          <gender><![CDATA[Male]]></gender>
          <size><![CDATA[Small]]></size>
          <birthDate>2013-02-04T00:00:00</birthDate>
          <shelterName />
          <type>Siberian Husky</type>
          <feature>0</feature>
          <pageTitle />
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoNaviHide>0</umbracoNaviHide>
        </Pet>
        <Pet id="1136" parentID="1129" level="4" writerID="0" creatorID="0" nodeType="1086" template="1077" sortOrder="1" createDate="2013-02-23T20:05:55" updateDate="2013-02-23T20:15:20" nodeName="Doggie" urlName="doggie" writerName="admin" creatorName="admin" path="-1,1099,1101,1129,1136" isDoc="">
          <PetPhoto id="1137" parentID="1136" level="5" writerID="0" creatorID="0" nodeType="1087" template="0" sortOrder="0" createDate="2013-02-23T20:06:57" updateDate="2013-02-23T20:07:08" nodeName="Doggie1" urlName="doggie1" writerName="admin" creatorName="admin" path="-1,1099,1101,1129,1136,1137" isDoc="">
            <image>/media/656/dog1.jpg</image>
            <imageCaption>Doggie</imageCaption>
            <pageTitle />
            <metaDescription><![CDATA[]]></metaDescription>
            <metaKeywords><![CDATA[]]></metaKeywords>
            <umbracoNaviHide>0</umbracoNaviHide>
          </PetPhoto>
          <address><![CDATA[-6.211544,106.84517200000005,13]]></address>
          <aboutPet><![CDATA[<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>]]></aboutPet>
          <animal><![CDATA[Dog]]></animal>
          <gender><![CDATA[Female]]></gender>
          <size><![CDATA[Small]]></size>
          <birthDate>2013-02-08T00:00:00</birthDate>
          <shelterName>BBIR</shelterName>
          <type>Siberian Husky</type>
          <feature>1</feature>
          <pageTitle />
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoNaviHide>0</umbracoNaviHide>
        </Pet>
      </LocationArea>
      <LocationArea id="1130" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1089" template="1079" sortOrder="4" createDate="2013-02-23T19:23:28" updateDate="2013-02-23T19:23:44" nodeName="Jakarta" urlName="jakarta" writerName="admin" creatorName="admin" path="-1,1099,1101,1130" isDoc="">
        <pageTitle>Jakarta</pageTitle>
        <metaDescription><![CDATA[Pets in Jakarta]]></metaDescription>
        <metaKeywords><![CDATA[Jakarta]]></metaKeywords>
        <umbracoNaviHide>0</umbracoNaviHide>
        <Pet id="1138" parentID="1130" level="4" writerID="0" creatorID="0" nodeType="1086" template="1077" sortOrder="0" createDate="2013-02-23T20:07:28" updateDate="2013-02-23T20:15:31" nodeName="Cesare2" urlName="cesare2" writerName="admin" creatorName="admin" path="-1,1099,1101,1130,1138" isDoc="">
          <PetPhoto id="1139" parentID="1138" level="5" writerID="0" creatorID="0" nodeType="1087" template="0" sortOrder="0" createDate="2013-02-23T20:08:05" updateDate="2013-02-23T20:08:19" nodeName="Cesare2" urlName="cesare2" writerName="admin" creatorName="admin" path="-1,1099,1101,1130,1138,1139" isDoc="">
            <image>/media/707/cat2.jpg</image>
            <imageCaption>Cesare 2</imageCaption>
            <pageTitle />
            <metaDescription><![CDATA[]]></metaDescription>
            <metaKeywords><![CDATA[]]></metaKeywords>
            <umbracoNaviHide>0</umbracoNaviHide>
          </PetPhoto>
          <address><![CDATA[-6.9147444,107.6098111,13]]></address>
          <aboutPet><![CDATA[<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>]]></aboutPet>
          <animal><![CDATA[Cat]]></animal>
          <gender><![CDATA[Male]]></gender>
          <size><![CDATA[Medium]]></size>
          <birthDate>2013-02-21T00:00:00</birthDate>
          <shelterName />
          <type />
          <feature>0</feature>
          <pageTitle />
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoNaviHide>0</umbracoNaviHide>
        </Pet>
        <Pet id="1140" parentID="1130" level="4" writerID="0" creatorID="0" nodeType="1086" template="1077" sortOrder="1" createDate="2013-02-23T20:08:27" updateDate="2013-02-23T20:15:34" nodeName="Doggie2" urlName="doggie2" writerName="admin" creatorName="admin" path="-1,1099,1101,1130,1140" isDoc="">
          <PetPhoto id="1141" parentID="1140" level="5" writerID="0" creatorID="0" nodeType="1087" template="0" sortOrder="0" createDate="2013-02-23T20:08:53" updateDate="2013-02-23T20:09:02" nodeName="Doggie2" urlName="doggie2" writerName="admin" creatorName="admin" path="-1,1099,1101,1130,1140,1141" isDoc="">
            <image>/media/745/dog2.jpeg</image>
            <imageCaption />
            <pageTitle />
            <metaDescription><![CDATA[]]></metaDescription>
            <metaKeywords><![CDATA[]]></metaKeywords>
            <umbracoNaviHide>0</umbracoNaviHide>
          </PetPhoto>
          <address><![CDATA[]]></address>
          <aboutPet><![CDATA[<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>]]></aboutPet>
          <animal><![CDATA[Dog]]></animal>
          <gender><![CDATA[Male]]></gender>
          <size><![CDATA[Small]]></size>
          <birthDate>2013-02-28T00:00:00</birthDate>
          <shelterName />
          <type />
          <feature>0</feature>
          <pageTitle />
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoNaviHide>0</umbracoNaviHide>
        </Pet>
      </LocationArea>
    </Locations>
    <Search id="1124" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1091" template="1082" sortOrder="2" createDate="2011-08-24T15:49:03" updateDate="2013-02-04T17:28:45" nodeName="Search" urlName="search" writerName="admin" creatorName="admin" path="-1,1099,1124" isDoc="">
      <pageTitle />
      <metaDescription><![CDATA[]]></metaDescription>
      <metaKeywords><![CDATA[]]></metaKeywords>
      <umbracoNaviHide>1</umbracoNaviHide>
    </Search>
  </Home>
</root>