<!-- Select all Estate nodes by searching down the content tree from the homepage where the property feature is true -->
                    @{ var featuredPets = Model.DescendantsOrSelf("Pet").Where("feature == true"); }                    
                    @foreach (var page in featuredPets) {
                    
                        //Select the first child node (EstateImage) of the Estate node
                        var firstImage = page.Children.First();
                        
                        <li>
                            <a href="@page.Url">
                                <img src="@firstImage.Image" alt="@firstImage.Name" />
                                <p class="flex-caption">@page.Name</p>
                            </a>
                        </li>
                    }